---
import PostMeta from "@/components/PostMeta.astro";
import Signature from "@/components/Signature.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { formatCategory } from "@/scripts/utils/formatCategory";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => {
    const category = post.data.category || "42";
    return {
      params: { slug: `${category}/${post.slug}` },
      props: post,
    };
  });
}

const post = Astro.props;
const { Content } = await post.render();
const category = post.data.category || "42";
const displayCategory = formatCategory(category);
const wordCount = post.body.trim().split(/\s+/).length;
---

<BlogLayout>
  <div class="progress-bar">
    <div class="progress-fill"></div>
  </div>

  <section>
    <article>
      <h1>{post.data.title}</h1>
      <PostMeta
        pubDate={post.data.pubDate}
        category={category}
        wordCount={wordCount}
        displayCategory={displayCategory}
      />

      <hr />

      <Content />
      <Signature />
    </article>
    <a href="/archiv">‹ Zurück zum Archiv</a>
  </section>
</BlogLayout>
